// let's style the mobile menu s
// import our mixns and variables
@import '../../scss/variables', '../../scss/mixins';

// overlay is small background behind the menu
.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100vh;
  z-index: 10;

  background: linear-gradient(270deg, $light-background 0%, transparent 100%);

  // chnge transform origin
  transform-origin: right;

  // hide mbile menu if the screen is enough for desktop icons
  @media (min-width: 807px) {
    display: none;
  }
}

// mobile menu
.fg__mobileMenu {
  display: block;
  position: absolute;
  right: 0%;
  top: 0%;

  z-index: 10;

  width: 40%;
  height: 100vh;

  @media (max-width: 650px) {
    width: 55%;
  }

  background-color: $dark-background;
  padding: 4rem 0 0;

  transform-origin: right;
  ul {
    a {
      li {
        padding: 1rem 2rem;

        @include body-font(18px, 400, $light-text);
        transition: all 0.3s ease-in-out;

        // hover
        &:hover {
          background-color: $primary-blue;
        }
      }
    }
  }

  // cta button
  button {
    margin: 1rem 2rem;
    padding: 0.5rem 3rem;

    border: none;
    outline: none;
    background-color: transparent;

    border: 1px solid $light-background;

    @include body-font(18px, 400, $light-text);

    transform: scale(1);
    opacity: 1;
    transition: all 0.3s ease-in-out;

    // hover
    &:hover {
      transform: scale(0.95);
      opacity: 0.7;
    }
  }

  // hide mbile menu if the screen is enough for desktop icons
  @media (min-width: 807px) {
    display: none;
  }
}
