// let's define here our varibales
// import google fonts here
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

//fonts
$heading-font: 'Poppins', sans-serif;
$body-font: 'Roboto', sans-serif;

// colors
// button colors
$primary-blue: #4452fe;
$secondary-green: #02e4c0;
$seconday-blue: #112d57;

// text colors
$dark-text: #000000;
$light-text: #ffffff;
$gray-text: #5c5c5c;

// background colors
$dark-background: #181818;
$light-background: #ffffff;
$gray-background: #343434;
